.progressBar {
  width: 100%;
  background-color: rgb(229 231 235);
  border-radius: 9999px;
  height: 0.625rem;
}

.progressFill {
  background-color: rgb(37 99 235);
  height: 0.625rem;
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
  width: var(--progress-width);
}
