node-version=20.19.4
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
save-exact=true
resolution-mode=highest
loglevel=error
package-manager=pnpm@10.6.3
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
shamefully-hoist=true