node-version=22.18.3
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
save-exact=true
resolution-mode=highest
loglevel=error
package-manager=pnpm@10.6.3
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
global-bin-dir=/path/to/your/global/bin
