{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": "commonjs",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2024"
  }
}
